!.gitattributes
!.gitconfig
!.gitignore
img_auto/
img_orig/
word/
www/
latex/code/
latex/images/
latex/md/
latex/tex/
latex/inhalt.tex
latex/artikel.pdf
latex/book.pdf
latex/print.pdf
Start.html
*.aux
*.bbl
*.dvi
*.fdb_latexmk
*.ind
*.toc
*.run*
*.log
*.idx
*.fls
*.blg
*-blx*